<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">
    <div class="footer-col-wrapper">

      <div class="footer-col-1">
        <img style="max-height:200px;object-fit: cover;" src="/assets/images/index/mlins_logo_full.webp">
      </div>

      <div class="footer-col-2">
        <h2> MLiNS Lab at Michigan Medicine </h2>
        <span style="margin:0px;"><a class="nav-bottom" href="/research/">Research</a></span><br>
        <span style="margin:0px;"><a class="nav-bottom" href="/publications/">Publications</a></span><br>
        <span style="margin:0px;"><a class="nav-bottom" href="/people/">People</a></span><br>
        <span style="margin:0px;"><a class="nav-bottom" href="/news/">News</a></span><br>
        <span style="margin:0px;"><a class="nav-bottom" href="/contact/">Contact</a></span><br><br>

        <span>
          © Regents of the <a href="https://www.umich.edu">University of Michigan</a>
        </span><br>
        <span>
          <a href="https://medicine.umich.edu/medschool/">U-M Medical School</a> |
          <a href="https://medicine.umich.edu/dept/neurosurgery">Department of Neurosurgery</a> |
          <a href="https://www.uofmhealth.org/general-information/privacy-statement">Privacy Statement</a> |
          <a href="https://www.uofmhealth.org/contact-us">Contact Michigan Medicine</a>
        </span>
      </div>

    </div>

  </div>

</footer>