<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
{%- include head.html -%}
<body>
{%- include header.html -%}

<div class="narrow-banner-container">
    <img class="narrow-banner-im" src="/assets/images/index/main_bg.webp">
    <div class="banner-text">Funding</div>
</div>

<div class="page-content" aria-label="Funding Content">
<div class="wrapper">

    <h2 style="margin-bottom: 20px;"><b>Thank you for making our research possible!</b></h2>

    {% for i in site.data.funding %}
    <div class="fundcard">
        <div class="fundleft">
            <img src="/assets/images/funding/{{ i.im }}" class="fc-profile">
        </div>
        <div class="fundright">
            {% if i.link %}
            <a class="publication no-palm" href="{{ i.link }}">{{ i.title }}</a>
            {% else %}
            <span class="publication no-palm">{{ i.title }}</span>
            {% endif %}
            <span style="margin: 0px; font-weight:bold">{{ i.name }}</span>
        </div>
    </div>
    {% if forloop.last == false %}
    <hr>
    {% endif %}
    {% endfor %}
</div>
</div>

{%- include footer.html -%}
</body>
</html>
