<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

  {%- include header.html -%}
  <div class="narrow-banner-container">
    <img class="narrow-banner-im" src="/assets/images/index/main_bg.webp">
    <div class="banner-text">Research</div>
  </div>

  <div class="page-content" aria-label="Research Content"><div class="wrapper">
    {% for i in site.data.research %}
    <div>
      <div class="research-wrap">
        <div class="research-sec-left">
          {% for j in i.im %}
            <img style="width:100%;" src="{{ j }}">
          {% endfor %}
        </div>
        <div class="research-sec-right">
          <h1 style="font-weight:bold;"> {{ i.title }} </h1>
          <p>{{ i.desc }}</p>
          <h2>Featured Publications</h2>
          {% for j in i.publications %}
            {% for k in site.data.publications %}
              {% if j == k[0] %}
                <div style="width:100%; background-color:#f1f3f5; border-radius:10px; padding:10px; margin-top:5px; margin-bottom:5px">
                  <p style="color:#{{ k[1].color }}; margin: 0px; font-weight:500"> {{ k[1].venue }} </p>
                  <a class="publication" href="/publications#{{ j }}">{{ k[1].title }}</a>
                </div>
              {% endif %}
            {% endfor %}
          {% endfor %}
        </div>
      </div>
    </div>
    {% if forloop.last == false %}
    <hr style="margin-bottom: 20px;">
    {% endif %}
    {% endfor %}
  </div></div>
  {%- include footer.html -%}

  </body>

</html>
